#
# A sample ant properties file
#
# $Id: ant.properties.example 3995 2007-07-26 08:52:45Z thomas.diesler@jboss.com $

# JBoss remote repository
jboss.repository=http://repository.jboss.org

# Hudson QA Environment
hudson.username=changeme
hudson.password=changeme

hudson.root=/usr/share/java/workspace
hudson.host=jbws.dyndns.org
hudson.admin.port=8150
hudson.http.port=8180

hudson.jbpm3.url=https://svn.jboss.org/repos/jbossws/stack/native/trunk

hudson.mail.recipients=
hudson.smtp.host=localhost

# Hudson setup
apache-tomcat=5.5.20
sun-hudson=1.126
