<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
		
	<extension point="org.eclipse.wst.server.core.runtimeTypes">
    	<runtimeType
       		id="org.jbpm.gd.bpel.runtime"
       		name="%jbpmBpelRuntimeTypeName"
			description="%jbpmBpelRuntimeTypeDescription"
       		vendor="%jbpmBpelVendor"
       		version="1.1"
       		class="org.eclipse.jst.server.generic.core.internal.GenericServerRuntime">
       		<moduleType
				types="bpel.module"
         		versions="1.1, 2.0"/>
    	</runtimeType>
   	</extension>
   	
	<extension point="org.eclipse.wst.server.core.serverTypes">
		<serverType
			runtime="true"
			class="org.eclipse.jst.server.generic.core.internal.GenericServer"
			id="org.jbpm.gd.bpel.server"
			initialState="stopped"
			supportsRemoteHosts="true"
			runtimeTypeId="org.jbpm.gd.bpel.runtime"
			description="%jbpmBpelServerTypeDescription"
			launchConfigId="org.eclipse.jst.server.generic.core.launchConfigurationType"
			behaviourClass="org.eclipse.jst.server.generic.core.internal.GenericServerBehaviour"
			name="%jbpmBpelServerTypeName"
			hasConfiguration="false"
			startTimeout="480000"
			stopTimeout="60000"
			launchModes="run, debug"
			startBeforePublish="true">
		</serverType>     
	</extension>
	
	<extension point="org.eclipse.wst.server.ui.wizardFragments">
		<fragment
			id="org.eclipse.jst.server.generic.runtime"
			typeIds="org.jbpm.gd.bpel.runtime"
			class="org.eclipse.jst.server.generic.ui.internal.GenericServerRuntimeWizardFragment"/>           
		<fragment
			id="org.eclipse.jst.server.generic.server"
			typeIds="org.jbpm.gd.bpel.server"
			class="org.eclipse.jst.server.generic.ui.internal.GenericServerWizardFragment"/>   
	</extension>      	

	<extension point="org.eclipse.wst.server.ui.serverImages">
		<image
			id="org.eclipse.jst.server.generic.image"
			icon="icons/obj16/jboss.gif"
			typeIds="org.jbpm.gd.bpel.runtime"/>
		<image
			id="org.eclipse.jst.server.generic.image"
			icon="icons/obj16/jboss.gif"
			typeIds="org.jbpm.gd.bpel.server"/>
	</extension>

	<extension point="org.eclipse.jst.server.core.runtimeClasspathProviders">
		<runtimeClasspathProvider
			id="org.eclipse.jst.server.generic.runtimeTarget"
			runtimeTypeIds="org.jbpm.gd.bpel.runtime"
			class="org.eclipse.jst.server.generic.core.internal.GenericServerRuntimeTargetHandler"/>
	</extension>

	<extension point="org.eclipse.jst.server.generic.core.serverdefinition">
		<serverdefinition id="org.jbpm.gd.bpel.runtime" definitionfile="serverdef/jbpm-bpel-1.1.serverdef">
		</serverdefinition>
   	</extension>
	
	<extension point="org.eclipse.jst.server.generic.core.genericpublisher">
		<genericpublisher
			class="org.jbpm.gd.bpel.publisher.JbpmBpelPublisher"
            id="org.jbpm.gd.bpel.publisher"/>
	</extension>

	<extension point="org.eclipse.wst.common.project.facet.core.runtimes">
		<runtime-component-type
			id="org.jbpm.gd.bpel.runtime"/>

		<runtime-component-version
			type="org.jbpm.gd.bpel.runtime"
			version="2.0"/>

		<adapter>
			<runtime-component
				id="org.jbpm.gd.bpel.runtime"/>
			<factory
				class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory"/>
			<type
				class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
		</adapter>

		<supported>
			<runtime-component
				id="org.jbpm.gd.bpel.runtime"
				version="2.0"/>
			<facet
				id="bpel.facet.core"
				version="2.0"/>
		</supported>
	</extension>

	<extension point="org.eclipse.wst.common.project.facet.ui.images">
		<image 
			runtime-component-type="org.jbpm.gd.bpel.runtime"
			path="icons/obj16/jboss.gif"/>
	</extension>    

	<extension point="org.eclipse.wst.common.project.facet.core.runtimes">
		<adapter>
			<runtime-component id="org.jbpm.gd.bpel.runtime"/>
			<factory class="org.eclipse.jst.server.ui.internal.RuntimeLabelProvider$Factory"/>
			<type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
		</adapter>
	</extension>

	<extension point="org.eclipse.jst.server.core.runtimeFacetMappings">
		<runtimeFacetMapping
			runtimeTypeId="org.jbpm.gd.bpel.runtime"
			runtime-component="org.jbpm.gd.bpel.runtime"
			version="2.0"/>
	</extension>

</plugin>
