<?xml version='1.0' encoding='UTF-8'?>
<hudson.maven.MavenModuleSet>
  <rootModule>
    <groupId>org.jboss.jbpm</groupId>
    <artifactId>jbpm</artifactId>
  </rootModule>
  <goals>test</goals>
  <reporters/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>@hudson.jbpm.url@</remote>
        <local>jpdl</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <browser class="hudson.scm.browsers.ViewSVN">
      <url>http://fisheye.jboss.com/browse/JbpmSvn/</url>
    </browser>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector"/>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description></description>
  <actions class="vector"/>
</hudson.maven.MavenModuleSet>