<?xml version='1.0' encoding='UTF-8'?>
<project>
  <builders class="vector">
    <hudson.tasks.Shell>
      <command>
#
# Module settings
#
SVNBASE=JBossAS-5.0.1
        
#
# checkout with an explicit version
#        
#if [ -d "$SVNBASE" ]; then
#   svn up -r@hudson.jboss501.rev@ $SVNBASE
#else
#   svn co -r@hudson.jboss501.rev@ @hudson.jboss501.url@
#fi
        
#
# build jboss
#                
cd $SVNBASE
./build/build.sh clean main
        
#
# Verify build
#
if [ ! -d ./build/output/@hudson.jboss501.build@ ]; then
   echo "Cannot find expected build: @hudson.jboss501.build@"
   exit 1
fi
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers class="vector">
    <hudson.tasks.Mailer>
      <recipients>@hudson.mail.recipients@</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM-ModuleLocation>
        <remote>@hudson.jboss501.url@</remote>
        <local>JBossAS-5.0.1</local>
      </hudson.scm.SubversionSCM-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <browser class="hudson.scm.browsers.FishEyeSVN">
      <url>http://fisheye.jboss.com/browse/JBossAS/</url>
      <rootModule></rootModule>
    </browser>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <enableRemoteTrigger>false</enableRemoteTrigger>
  <triggers class="vector"/>
  <logRotator>
    <daysToKeep>28</daysToKeep>
    <numToKeep>-1</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description>Build AS-5.0.1</description>
  <actions class="vector"/>
</project>